/* Horizontal tablet viewport */

@media only screen and (max-width: 1024px) {
    .safe-area-padding {
        padding: 0 50px;
    }
    .logo__img {
        max-width: 227px;
        max-height: 46px;
    }
    .search {
        flex-basis: 300px;
    }
    .search__bar {
        height: 35px;
    }
    .search__bar::placeholder {
        font-size: 0.65rem;
    }
    .search__icon {
        display: none;
    }
    .navigation {
        flex-basis: 200px;
    }
    .navigation__link {
        font-size: 0.75rem;
    }
    .hero-content__title {
        font-size: 1.6rem;
    }
    .hero-content__text {
        font-size: 0.85rem;
    }
}


/* Vertical tablet viewport */

@media only screen and (max-width: 768px) {
    .safe-area-padding {
        padding: 0 20px;
    }
    .logo__img {
        max-width: 227px;
        max-height: 46px;
    }
    .search {
        flex-basis: 300px;
    }
    .search__bar {
        height: 35px;
    }
    .search__bar::placeholder {
        font-size: 0.65rem;
    }
    .search__icon {
        display: none;
    }
    .navigation {
        flex-basis: 200px;
    }
    .navigation__link {
        font-size: 0.75rem;
    }
}


/* Vertical mobile viewport */

@media only screen and (max-width: 375px) {
    .safe-area-padding {
        padding: 20px 0;
    }
    .header {
        height: 190px;
        align-content: space-around;
        flex-direction: column;
    }
    .logo,
    .search__bar {
        margin-bottom: 15px;
    }
    .search {
        width: 300px;
    }
    .search__bar::placeholder,
    .search__bar {
        font-size: 0.8rem;
    }
    .search__bar {
        height: 50px;
    }
    .navigation {
        width: 200px;
    }
    .hero {
        height: 500px;
    }
    .hero-content {
        padding: 0 30px;
    }
    .hero-content__buttons {
        display: flex;
        flex-direction: column;
    }
    .hero-content__buttons>button {
        margin-bottom: 20px;
    }
}