.header {
    width: 100%;
    height: 80px;
    background-color: #141414;
    justify-content: space-between;
}

.align-ver-center {
    align-items: center;
}

.safe-area-padding {
    padding: 0 40px 0 40px;
}

.flex-container {
    display: flex;
}

.logo__text {
    font-size: 1px;
    text-indent: -9999px;
}

.logo__img {
    width: 100%;
    max-width: 247px;
    max-height: 66px;
}